.button {
  display: block; 
  padding: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #C29974;
}

.button:active {
  background: #CFAF91;
}
