@import './consts';

.button {
  display: block; 
  padding: 9px;
  font-weight: bold;
  font-family: $primary-font;
  font-size: $fs-primary;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  cursor: pointer;

  @media (max-width: 450px) {
    font-size: 14px;
    line-height: 19px;
  }

  transition: background-color $transition-duration;

  &:hover {
    background-color: #C29974;
  }
  
  &:active {
    background-color: #CFAF91;
  }
}
