@import "../../components/consts";

.slider {
  display: flex;
  flex-direction: column;
  min-height: 411px;

  @media (max-width: 500px) {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__header {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 372px;
    margin-top: 88px;
    background-color: #EEE4DB;

    @media (max-width: 768px) {
      flex-wrap: nowrap;
      margin-top: 0;
      min-height: 371px;
    }

    @media (max-width: 650px){
      min-height: 431px;
    }

    // @media (max-width: 410px){
    //   padding-left: 5%;
    // }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-left: 31px;

    @media (max-width: 810px) {
      margin-left: 0;
    }

    @media (max-width: 410px) {
      position: absolute;
      padding-left: 83%;
      order: 1;
    }

    &-text {
      height: 74px;
      width: 61px;
      margin: 0 0 15px;
      padding: 17px 0;
      font-family: $secondary-font;
      font-size: 60px;
      line-height: 73px;
      color: rgba(30, 6, 6, 0.05);

      @media (max-width: 375px) {
        margin: 0;
      }
    }

    &-button {
      width: 31px;
      margin-top: 11px;
      padding-top: 2px;
      padding-bottom: 1px;
      background: #D6CAC2;
      border: none;
      cursor: pointer;

      @media (max-width: 375px) {
        margin-left: 17px;
        margin-top: 9px;
      }
  
      &:hover, &:focus {
        background: rgba(30, 6, 6, 0.6);
        border: none;
        outline: none;
      }

      &:active {
        opacity: 0.5;
      }

      &_active {
        background: rgba(75, 71, 71, 0.6);
        border: none;
      }
    }
  } 

  &__title {
    display: flex;
    flex-direction: column;
    width: 307px;
    padding-top: 93px;
    margin-left: 41px;

    @media (max-width: 768px) {
      padding-top: 81px;
      margin-left: -3px;
    }

    @media (max-width: 410px) {
      order: 0;
      padding-top: 80px;
      margin-left: 20px;
    }
  }

  &__item {
    margin: 0;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-slider;
    line-height: 110%;

    @media (max-width: 405px) {
      font-size: 36px;
      line-height: 110%;
    }
  }

  &__text {
    margin: 0;
    padding: 16px 0 24px;
    font-family: $four-font;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;

    @media (max-width: 768px) {
      padding: 18px 0 20px;
    }

    @media (max-width: 375px) {
      padding-top: 14px;
      padding-bottom: 13px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__link {
    margin-bottom: 20px;
    width: 161px;
    @media (max-width: 375px) {
      width: 142px;
    }
  }

  &__img {
    position: absolute;
    max-width: 635px;
    height: auto;
    bottom: 0;
    margin-left: 5px;

    @media (max-width: 1265px) {
      right: 10px;
    }

    @media (max-width: 375px) {
      right: 2px;
    }
  }

  &__text-addit {
    min-height: 39px;
    padding: 13px 0 12px;
    font-weight: bold;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #C29974;

    @media (max-width: 565px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.goods {
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 88px;

  @media (max-width: 1460px) {
    padding-right: 0;
  }

  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 53px;
  }

  @media (max-width: 375px) {
    padding-top: 80px;
    padding-left: 21px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 46px;

    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 44px;
    }

    @media (max-width: 450px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .row {
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    margin-top: 22px;
  }

  &__item {
    margin-right: 20px;

    &:nth-child(4) {
      margin-right: 0;
  }
}

  &__link {
    display: flex;
    align-items: center;
    height: 270px;
    width: 280px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title-link;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 768px) {
      height: 249px;
      width: 258px;
    }

    @media (max-width: 375px) {
      height: 234px;
      width: 246px;
    }

    &-title {
      display: block;
      width: 160px;
      margin: 0 auto;
    }

    &:hover {
      text-decoration: underline;
    }
  } 
}

.goods-slider {
  &__slider {
    display: flex;
    padding-top: 30px;
    margin-bottom: 6px;
    font-family: $primary-font;
    font-size: $fs-primary;
    line-height: 22px;

    @media (max-width: 450px) {
      padding-top: 22px;
      margin-bottom: 30px;
    }
  }

  &__slider-nav {
    padding-top: 3px;
    position: relative;

    @media (max-width: 768px) {
      padding-top: 0;
      width: 100%;
      max-width: 88px;
    }
  }

  &__content {
    width: 580px;
    padding-left: 23px;
    
    @media (max-width: 768px) {
      padding-left: 0;
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.button-prev {
  width: 37px;
  height: 37px;
  padding: 3px 6px;
  background: rgba(112, 187, 220, 0.2);
  cursor: pointer;
  border: none;
  transition: $transition-duration;
  transform: rotate(-180deg);

  &:hover {
    opacity: 0.75;
  }
}

.button-next {
  @extend .button-prev;
  padding: 3px 8px 3px 10px;
  transform: rotate(0deg)
}

.prev {
  padding-left: 1px;
  transition: $transition-duration;
  background-color: transparent;

  &:hover  {
    transition: $transition-duration;
    color: #000000;
    opacity: 0.75;
  }

  &:active{
    transition: $transition-duration;
    opacity: 0.75;
  }
}

.next {
  @extend .prev;
}

.additional-inform {
  display: flex;
  padding-bottom: 30px;

  @media (max-width: 560px) {
    flex-wrap: wrap;
  }

  &__menu {
    display: flex;
    flex-direction: column;

    @media (max-width: 450px) {
      margin-top: 17px;
    }
  }

  &__img {
    max-width: initial;

    @media (max-width: 380px) {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    margin-left: 15%;
    margin-top: 30px; 

    @media (max-width: 768px) {
      margin-left: 54px;
    }

    @media (max-width: 560px){
      margin-left: 0;
      margin-top: 17px;
    }
  }

  &__title {
    padding-bottom: 10px;
    margin: 0;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 46px;

    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 44px;
      padding-bottom: 3px;
    }

    @media (max-width: 450px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__button {
    width: 55px;
    height: 55px;
    padding: 12px 0;
    font-family: $four-font;
    font-style: italic;
    font-weight: normal;
    font-size: $fs-title-link;
    line-height: 32px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    
    @media (max-width: 850px) {
      font-size: 24px;
      line-height: 30px;
      height: 45px;
    }
    
    &_active {
      display: flex;
      padding-left: 60px;
      margin-left: -60px;
      width: 100%;
      max-width: 325px;
      height: 55px;
      font-weight: bold;
      background: rgba(112, 187, 220, 0.2);

      @media (max-width: 850px) {
        padding-left: 16px;
        margin-left: -15px;
        max-width: 267px;
        height: 45px;
      }
    }
    
    &:hover, &:focus {
      @extend .additional-inform__button_active;
      transition: background-color $transition-duration;
    }

    &:active {
      opacity: 0.75;
    }
  }

  &__content {
    font-family: $primary-font;
    font-size: $fs-primary;
    line-height: 22px;

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  &__text {
    margin: 0;
    padding-top: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__link {
    margin-top: 25px;
    width: 149px;

    @media (max-width: 450px) {
      margin-top: 21px;
      width: 131px;
    }
  }
}

.partners {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 54px;

  @media (max-width: 768px) {
    padding-top: 14px;
    padding-bottom: 36px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-bottom: 10px;
    width: 100%;

    @media (max-width: 768px) {
      margin-top: 10px;
    }

    @media (max-width: 375px) {
      margin-top: 28px;
    }

    @media (max-width: 470px) {
      flex-wrap: wrap;
    }

    @media (max-width: 470px) {
      &, li:nth-child(1) {
        order: 2;
      }
    }

    @media (max-width: 470px) {
      &, li:nth-child(2) {
        order: 1;
      }
    }

    @media (max-width: 470px) {
      &, li:nth-child(3) {
        order: 0;
      }
    }

    @media (max-width: 470px) {
      &, li:nth-child(4) {
        order: 3;
      }
    }

    &__list, li {
      @media (max-width: 1024px) {
        margin-right: 5%;

        &:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: 470px) {
        width: 42%;
        margin-bottom: 7%;
      }
    }

    &-item:hover, &-item:active {
      opacity: 0.75;
    }

    &-item:active {
      opacity: 0.4;
    }
  }

  &__img {
    @media (max-width: 768px) {
      transform: scale(0.8);
    }

    @media (max-width: 375px) {
      transform: scale(1);
    }
  }
}

.about-us {
  display: flex;
  padding-top: 50px;
  padding-bottom: 73px;
  font-family: $primary-font;
  font-size: $fs-primary;
  line-height: 22px;

  @media (max-width: 1120px) {
    padding-bottom: 80px;
  }

  @media (max-width: 768px) {
    padding-bottom: 80px;
  }

  @media (max-width: 375px) {
    padding-top: 18px;
  }

  @media (max-width: 540px) {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &__block {
    width: 100%;
    max-width: 543px;
    padding: 0 30px;
    margin-right: 57px;
    margin-bottom: 75px;
    background: #E1F0F7;

    @media (max-width: 768px) {
      margin-right: 20px;
    }

    @media (max-width: 540px) {
      margin-right: 0;
      margin-bottom: 58px;
    }
  }

  &__title {
    margin: -25px 0;
    padding-bottom: 28px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 46px;

    @media (max-width: 768px) {
      margin-top: -19px;
      margin-left: -16px;
      font-size: 30px;
      line-height: 37px;
    }

    @media (max-width: 375px) {
      margin-top: -14px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__button {
    margin-left: -7px;
    font-family: $four-font;
    font-style: italic;
    font-weight: normal;
    font-size: $fs-title-link;
    line-height: 32px;
    background: #E1F0F7;
    border: none;
    cursor: pointer;
    transition: $transition-duration;

    @media (max-width: 768px) {
      margin-top: 11px;
      margin-left: -20px;
    }

    @media (max-width: 450px) {
      font-size: 24px;
      line-height: 30px;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &__link {
    width: 123px;
    margin-top: 22px;
    margin-bottom: 17px;

    @media (max-width: 768px) {
      margin-top: 43px;
      margin-left: -16px;
    }
    @media (max-width: 450px) {
      margin-top: 15px;
      margin-left: -11px;
      width: 110px;
    }
  }

  &__text {
    @media (max-width: 768px) {
      margin-left: -15px;
      margin-top: 8px;
    }
    @media (max-width: 450px) {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.contact {
  width: 543px;
  height: 209px;
  padding: 0 30px;
  margin-bottom: 100px;
  background: #E1F0F7;

  @media (max-width: 930px) {
    min-height: 274px;
  }

  @media (max-width: 450px) {
    min-height: 210px;
  }

  &__title {
    @extend .about-us__title;
  }

  &__text {
    @media (max-width: 768px) {
      margin-left: -15px;
      margin-top: 20px;
    }

    @media (max-width: 450px) {
      font-size: 14px;
      line-height: 19px;
      margin-top: 8px;
    }
  }

  &__map {
    position: relative;
    width: 100%;
    height: 196px;
    border: none;

    @media (max-width: 768px) {
      width: 109%;
      height: 151px;
      margin-left: -15px;
      margin-top: 23px;
    }

    @media (max-width: 485px) {
      height: 196px;
      margin-top: 3px;
    }
  }
}

.modal-bg {
  position: fixed; 
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(125, 151, 218, 0.8);

  &_close {
    display: none;
  } 
}

.modal-window {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 42px 40px;
  margin: auto;
  min-height: 542px;
  width: 90%;
  max-width: 680px;
  font-family: $third-font;
  font-style: normal;
  font-weight: normal;
  font-size: $fs-window-text;
  line-height: 16px;
  background-color: #E5EAF8;
  border: none;

  @media (max-width: 768px) {
    padding: 42px 56px;
  }

  @media (max-width: 450px) {
    padding: 25px;
  }

  &__user {
    display: flex;
    justify-content: space-between;

    @media (max-width: 375px) {
      flex-wrap: wrap;
    }
  }

  &__inform {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 290px;
    margin-right: 3%;

    @media (max-width: 375px) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%;
    padding: 17px 20px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: box-shadow $transition-duration;
  
    &:hover, &:active, &:focus {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3) inset;
    }

    @media (max-width: 375px) {
      padding: 12px;
      margin-bottom: 14px;
    }
  }
  
  &__fieldset {
    padding: 0;
    margin: 0 0 20px;
  }

  &__label {
    margin-bottom: 6px;

    @media (max-width: 375px) {
      margin-bottom: 5px;
    }
  }

  &__lable {
    display: flex;
    align-items: center;
  }

  &__click {
    display: inline-block;
    min-width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;
  }

  &__accept:focus + &__click {
    border: 2px solid rgb(141, 113, 90)
  }

  &__accept:hover + &__click {
    border: 2px solid rgb(141, 113, 90)
  }

  &__accept:checked + &__click::before {
    content: url("/../../static/images/accept.png");
    margin: auto;
    width: 14px;
    height: 14px;
  }

  &__text {
    margin-left: 8px;
  }

  &__button {
    width: 106px;
    color: #E1E1E1;
    background: #C1C1C1;

    @media (max-width: 375px) {
      width: 100px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: -25px;
    width: 18px;
    height: 18px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: $transition-duration;

    @media (max-width: 768px) {
      right: 0px;
      top: -25px;
    }

    &::before, &::after {
      content: "";
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      height: 100%;
      width: 2px;
      background-color: #FFFFFF;
      border-radius: 5px;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

textarea {
  width: 600px;
  height: 150px; 
  resize: none;
} 

fieldset {
  border: none;
}
