@import "../../components/consts";

.slider {
  display: flex;
  flex-direction: column;
  min-height: 411px;

  &__header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 88px;
    background: #EEE4DB;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    padding: 0 31px;

    &-text {
      height: 74px;
      width: 61px;
      margin: 0 0 15px;
      padding: 17px 0;
      font-family: $secondary-font;
      font-size: 60px;
      line-height: 73px;
      color: rgba(30, 6, 6, 0.05);
    }

    &-button {
      width: 31px;
      margin-top: 11px;
      padding-top: 2px;
      padding-bottom: 1px;
      background: #D6CAC2;
      border: none;
      cursor: pointer;
  
      &:active, &:hover, &:focus {
        background: rgba(30, 6, 6, 0.6);
        border: none;
        outline: none;
      }
    }

    &-button_active{
      background: rgba(75, 71, 71, 0.6);
      border: none;
    }
  } 

  &__title {
    display: flex;
    flex-direction: column;
    width: 307px;
    padding-top: 93px;
    margin-left: 10px;
  }

  &__item {
    margin: 0;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-slider;
    line-height: 110%;
  }

  &__text {
    margin: 0;
    padding: 16px 0 24px;
    font-family: $four-font;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
  }

  &__link {
    width: 161px;
  }

  &__img {
    position: relative;
    width: 635px;
    height: 461px;
    margin-top: -90px;
    margin-left: 5px;
  }

  &__text-addit {
    min-height: 39px;
    padding: 13px 0 12px;
    font-weight: bold;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #C29974;
  }
}

@media screen and (max-width: 1200px) {
  .slider__img {
    margin-top: 50px;
  }
}

.goods {
  padding-top: 90px;
  padding-bottom: 88px;

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 46px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    margin-top: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 270px;
    width: 280px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title-link;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;

    &-title {
      display: block;
      width: 160px;
      margin: 0 auto;
    }

    &:hover {
      text-decoration: underline;
    }
  } 
}

.goods-slider {
  &__slider {
    display: flex;
    padding-top: 30px;
    font-family: $primary-font;
    font-size: $fs-primary;
    line-height: 22px;
    margin-bottom: 6px;
  }

  &__slider-nav {
    padding-top: 3px;
    position: relative;
  }

  &__content {
    width: 580px;
    padding-left: 23px;
  }
}

.button-prev {
  width: 37px;
  height: 37px;
  padding: 3px 6px;
  background: rgba(112, 187, 220, 0.2);
  cursor: pointer;
  border: none;
  transition: $transition-duration;
  transform: rotate(-180deg);

  &:hover {
    opacity: 0.75;
  }
}

.button-next {
 @extend .button-prev;
  padding: 3px 8px 3px 10px;
  transform: rotate(0deg)
}

.prev {
  padding-left: 1px;
  transition: $transition-duration;
  background-color: transparent;

  &:hover  {
    transition: $transition-duration;
    color: #000000;
    opacity: 0.75;
  }

  &:active{
    transition: $transition-duration;
    opacity: 0.75;
  }
}

.next {
  @extend .prev;
  transform: rotate(180deg);
}

.additional-inform {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 480px;
    height: 559px;
    margin: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-left: 120px;
    margin-top: 30px; 
  }

  &__title {
    padding-bottom: 10px;
    margin: 0;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 46px;
  }

  &__button {
    width: 55px;
    height: 55px;
    padding: 12px 0;
    font-family: $four-font;
    font-style: italic;
    font-weight: normal;
    font-size: $fs-title-link;
    line-height: 32px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color $transition-duration;
    
    &_active {
      display: flex;
      padding-left: 60px;
      margin-left: -60px;
      width: 325px;
      height: 55px;
      font-weight: bold;
      background: rgba(112, 187, 220, 0.2);
    }
    
    &:hover, &:focus {
      @extend .additional-inform__button_active;
    }
  }

  &__content {
    font-family: $primary-font;
    font-size: $fs-primary;
    line-height: 22px;
  }

  &__text {
    margin: 0;
    padding-top: 16px;
  }

  &__link {
    margin-top: 25px;
    width: 149px;
  }
}

.partners {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 54px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-bottom: 10px;
    width: 100%;

    &-item:hover {
      opacity: 0.75;
    }
  }
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 73px;
  font-family: $primary-font;
  font-size: $fs-primary;
  line-height: 22px;

  &__block {
    width: 543px;
    padding: 0 30px;
    margin-right: 57px;
    margin-bottom: 75px;
    background: #E1F0F7;
  }

  &__title {
    margin: -25px 0;
    padding-bottom: 28px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 46px;
  }

  &__button {
    margin-left: -7px;
    font-family: $four-font;
    font-style: italic;
    font-weight: normal;
    font-size: $fs-title-link;
    line-height: 32px;
    background: #E1F0F7;
    border: none;
    cursor: pointer;
    transition: $transition-duration;

    &:hover {
      opacity: 0.75;
    }
  }

  &__link {
    width: 123px;
    margin-top: 22px;
    margin-bottom: 17px;
  }
}

.contact {
  width: 543px;
  height: 209px;
  padding: 0 30px;
  margin-bottom: 100px;
  background: #E1F0F7;

  &__title {
    @extend .about-us__title;
  }

  &__map {
    position: relative;
    width: 483px;
    height: 196px;
  }
}

.modal-bg {
  position: fixed; 
  top: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(125, 151, 218, 0.8);

  &_close {
    display: none;
  } 
}

.modal-window {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  margin: auto;
  width: 680px;
  min-height: 542px;
  font-family: $third-font;
  font-style: normal;
  font-weight: normal;
  font-size: $fs-window-text;
  line-height: 16px;
  background: #E5EAF8;
  border: none;

  &__user {
    display: flex;
    justify-content: space-between;
  }

  &__inform {
    display: flex;
    flex-direction: column;
    width: 290px;
  }

  &__input {
    padding: 17px 20px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: box-shadow $transition-duration;
  
    &:hover, &:active, &:focus {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3) inset;
    }
  }

  &__label {
    margin-bottom: 6px;
  }
  
  &__fieldset {
    padding: 0;
    margin: 0 0 20px;
  }

  &__lable {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__click {
    border: 2px solid #C29974;
    border-radius: 3px;
    width: 19px;
    height: 19px;
  }

  &__accept:focus + &__click {
    border: 2px solid rgb(141, 113, 90)
  }

  &__accept:hover + &__click {
    border: 2px solid rgb(141, 113, 90)
  }

  &__accept:checked + &__click::before {
    content: url("/../../static/images/accept.png");
    margin: auto;
    width: 14px;
    height: 14px;
  }

  &__text {
    margin-left: 8px;
  }

  &__button {
    width: 106px;
    color: #E1E1E1;
    background: #C1C1C1;
  }

  &__close {
    position: absolute;
    top: 0;
    right: -25px;
    width: 18px;
    height: 18px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: $transition-duration;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      height: 100%;
      width: 2px;
      background-color: #FFFFFF;
      border-radius: 5px;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

textarea {
  width: 600px;
  height: 150px; 
  resize: none;
} 

fieldset {
  border: none;
}
