
%cloud-small {
  max-width: 7%;
  width: 7vw;
}

%cloud-medium {
  max-width: 10%;
  width: 10vw;
}

%cloud-big {
  max-width: 13%;
  width: 13vw;
}

.clouds {
  position: relative;
  height: 10vw;
  max-height: 150px;
  overflow: hidden;
  z-index: 0;
}

.sun {
  position: absolute;
  top: 5%;
  left: 83%;
  z-index: 0;
  max-width: 68px;
  width: 6.8vw;
}

@keyframes cloudmove-left {
  0%   {left:  100%;} 
  100% {left: -100%;} 
} 

.cloud {
  position: absolute;
  animation-timing-function:linear;
  z-index: 1;
}

.cloud-1 {
  top: 61%;
  animation: cloudmove-left 150s infinite;
  @extend %cloud-big;
}

.cloud-2 {
  top: 73%;
  animation: cloudmove-left 120s infinite;
  @extend %cloud-big;
}

.cloud-3 {
  top: 7%;
  animation: cloudmove-left 200s infinite;
  @extend %cloud-medium;
}

.cloud-4 {
  top: 15%;
  animation: cloudmove-left 150s infinite;
  @extend %cloud-small;
}

.cloud-5 {
  top: 33%;
  animation: cloudmove-left 200s infinite;
  @extend %cloud-small;
}

.cloud-6 {
  top: 46%;
  animation: cloudmove-left 130s infinite;
  @extend %cloud-big;
}

.cloud-7 {
  top: 31%;
  left: 25%;
  @extend %cloud-big;
}

.cloud-8 {
  top: 70%;
  left: 52%;
  @extend %cloud-big;
}

.cloud-9 {
  top: 16%;
  left: 44%;
  @extend %cloud-medium;
}

.cloud-10 {
  top: 4%;
  left: 6%;
  @extend %cloud-small;
}

.cloud-11 {
  top: 15%;
  left: 73%;
  @extend %cloud-small;
}

.cloud-12 {
  top: 32%;
  left: 90%;
  @extend %cloud-big;
}

.main-scene {
  height: 44.8vw;
  max-height: 665px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.town {
  z-index: 0;
  position: absolute;
}

@keyframes carmove {
  0%   {left: -100%;} 
  100% {left: 100%;} 
} 

.cars {
  position: relative;
  top: 38%;
}

.car {
  position: absolute;
}

.car-1 {
  margin-top: 4%;
  animation: carmove 4s infinite;
  z-index: 1;
  max-width: 16%;
  width: 16vw;
}

.car-2 {
  margin-top: 2%;
  animation: carmove 6s infinite;
  z-index: 1;
  max-width: 17%;
  width: 17vw;
}

.car-3 {
  margin-top: 5%;
  animation: carmove 8s infinite;
  z-index: 0;
  max-width: 17%;
  width: 17vw;
  animation-timing-function: linear;
}

.car-4 {
  margin-top: 2%;
  animation: carmove 4s infinite;
  max-width: 18%;
  width: 18vw;
  z-index: 2;
  animation-timing-function: linear;
}

.flashlight-1 {
  position: absolute;
  top: 6%;
  left: 31%;
  max-width: 11%;
  width: 11vw;
  z-index: 3;
}

.flashlight-2 {
  position: absolute;
  top: 6%;
  left: 93%;
  max-width: 11%;
  width: 11vw;
  z-index: 3;
}

@keyframes taximove {
  0%   {left:  100%;} 
  20%  {left:  100%;}
  58%  {left:  40%;}
  80%  {left:  40%;}
  100% {left: -100%;} 
} 

%message {
  transition: 1s;
  animation: 3s 1;
  animation-timing-function: linear;
}

@keyframes message {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; } 
}

.taxi {
  position: relative;
  top: 34%;

  &__body {
    position: absolute;
    top: 47%;
    max-width: 65%;
    width: 65vw;
    z-index: 4;
    animation: taximove 10s;
    animation-fill-mode: forwards;
  }

  &__message {
    position: absolute;
    margin-left: 62%;
    margin-top: -5%;
    max-width: 12%;
    width: 12vw;
    z-index: 6;
    opacity: 0;
    @extend %message;
    animation-name: message; 
    animation-delay: 5s;
  }
}

.flashlight-3 {
  position: absolute;
  top: 6%;
  margin-left: 73%;
  max-width: 15%;
  width: 15vw;
  z-index: 5;
}

@keyframes hand-woman {
  0%  { 
    transform: rotate(0); 
  }

  20%, 50% { 
    transform: rotate(-45deg); 
  }

  100% {
    transform: rotate(0);
  }
}

.passengers {
  position: relative;
  top: 35%;
}

.woman {
  &__body {
    position: absolute;
    top: 1%;
    margin-left: 6%;
    max-width: 19%;
    width: 19vw;
    z-index: 5;
  }

  &__hand {
    margin-left: 14%;
    margin-top: 15%;
    max-width: 4%;
    width: 4vw;
    z-index: 6;
    transform-origin: 0 0;
    animation: hand-woman 5s;
    animation-delay: 1s; 
    animation-timing-function: linear;
  }

  &__message {
    position: absolute;
    top: 3%;
    left: 6%;
    max-width: 11%;
    width: 11vw;
    z-index: 5;
    opacity: 0;
    @extend %message;
    animation: 4s 1;
    animation-name: message;
    animation-delay: 1s;
  }
}

@keyframes hand-man {
  0%  {
    transform: rotate(0);
  }

  20%, 80% {
    transform: rotate(-100deg);
  }

  100% {
    transform: rotate(0);
  }
}

%man-message {
  position: absolute;
  top: -34%;
  margin-left: 19%;
  max-width: 170px;
  width: 12vw;
}

.man {
  &__body {
    position: absolute;
    top: 2%;
    margin-left: 20%;
    max-width: 15%;
    width: 15vw;
    z-index: 7;
  }
  
  &__hand {
    position: absolute;
    top: 31%;
    left: 21%;
    max-width: 6%;
    width: 6vw;
    z-index: 5;
    transform: rotate(35deg);
    transform-origin: 0 0; 
    animation: hand-man 5s;
    animation-timing-function: linear;
    animation-delay: 3s;
  }
  
  &__message-one {
    @extend %man-message;
    @extend %message;
    z-index: 6;
    opacity: 0;
    animation: 5s 1;
    animation-name: message;
    animation-delay: 3s;
  }

  &__message-two {
    @extend %man-message;
    @extend %message;
    z-index: 7;
    opacity: 0;
    animation: 6s 1;
    animation-name: message;
    animation-delay: 9s;
  }
}
