@import "../../components/consts";

.announce {
  padding-top: 28px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }

  &__item {
    width: 380px;
  }

  &__img {
    padding-bottom: 17px
  }

  &__date {
    font-family: $third-font;
    font-style: normal;
    font-weight: normal;
    font-size: $fs-primary;
    line-height: 19px;
    color: #818181;
  }

  &__title {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: $fs-blog-title;
    line-height: 31px;
    color: #1E0606;
  }

  &__text {
    margin: 0;
    padding-bottom: 40px;
    font-size: $fs-blog-text;
    line-height: 25px;
    color: #1E0606;
  }

  &__link:hover &__title {
    text-decoration: underline;
  }
}
