@import "../../components/consts";

.announce {
  margin: auto;
  padding-top: 42px;

  @media (max-width: 786px) {
    padding-top: 30px;
  }

  @media (max-width: 450px) {
    padding-top: 10px;
  }

  .row {
    padding-left: 0;
    padding-right: 0;
  }

  &__item {
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: 500px) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  &__img {
    width: 100%;
  }

  &__date {
    display: inline-block;
    margin-top: 17px;
    font-family: $third-font;
    font-style: normal;
    font-weight: normal;
    font-size: $fs-primary;
    line-height: 19px;
    color: #818181;

    @media (max-width: 375px) {
      margin-top: 10px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__title {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: $fs-blog-title;
    line-height: 31px;
    color: #1E0606;

    @media (max-width: 1024px) {
      padding-top: 1px;
    }

    @media (max-width: 375px) {
      padding-bottom: 10px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 35px;
    font-size: $fs-blog-text;
    line-height: 25px;
    color: #1E0606;

    @media (max-width: 375px) {
      padding-bottom: 26px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__link:hover &__title {
    text-decoration: underline;
  }
}
