@import "../../components/consts";

.goods {
  padding: 15px 0 13px;

  @media (max-width: 375px) {
    padding: 8px 0 4px;
  }

  &__item {
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;

    @media (max-width: 375px) {
      padding: 7.5px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 270px;
    width: 280px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title-link;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 899px) {
      height: 196px;
      width: 203px;
      font-size: 24px;
      line-height: 29px;
      background-size: contain;
    }

    @media (max-width: 445px) {
      height: 154px;
      width: 160px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__link-title {
    display: block;
    width: 160px; 
    margin: 0 auto;
    
    @media (max-width: 445px) {
      width: 127px;
    }
  }
}

.additional-inform {
  width: 720px;
  padding-bottom: 60px;
  margin-left: 290px;

  @media (max-width: 1000px) {
    margin-left: 0;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
  
  &__title {
    margin: 0;
    padding-top: 39px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 46px;

    @media (max-width: 768px) {
      padding-top: 29px;
    }

    @media (max-width: 523px) {
      padding-top: 19px;
      margin-left: 0;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__content {
    padding-top: 5px;
    font-size: $fs-primary;
    line-height: 22px;
  }

  &__text {
    margin-bottom: 0;
  }
}
