@import "../../components/consts";

.goods {
  padding: 15px 0 13px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 23px 10px 0;

    &:nth-child(4) {
      margin-left: 218px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 270px;
    width: 280px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title-link;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link-title {
    display: block;
    width: 160px; 
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .goods__list-item:nth-child(4) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.additional-inform {
  width: 720px;
  padding: 0 20px 65px;
  margin-left: 290px;
  
  &__title {
    margin: 0;
    padding-top: 39px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 46px;
  }

  &__content {
    padding-top: 5px;
    font-size: $fs-primary;
    line-height: 22px;
  }

  &__text {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .additional-inform {
    margin-left: auto;
    width: auto;
    padding-bottom: 65px;
  }

  .additional-inform__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-right: 10px;
  }
}
