@import './consts';

%flex-and-center {
  display: flex;
  align-items: center;
}

.header {
  @extend %flex-and-center;
  padding: 49px 20px 36px;
  

  &__logo {
    min-width: 100px;
    height: 52px;
    transition: $transition-duration;
    
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  &__nav {
    @extend %flex-and-center;
    width: 100%;
    justify-content: space-between;
    
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 60px;
  }

  &__item {
    padding-right: 20px;
    font-size: $fs_text-header;
    line-height: 19px;
    color: $color_text-header;
    transition: $transition-duration;

    &:hover {
      opacity: 0.5;
    }
  }

  &__links {
    display: flex;
    padding-top: 3px; 
  }

  &__search {
    padding-right: 23px;
    transition: $transition-duration;

    &:hover {
      opacity: 0.5;
    }
  }

  &__contact {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $color_text-header;
    transition: $transition-duration;

    &:hover {
      opacity: 0.5;
    }
  }
}
