<header class="header-main container-back">
  <div class="header container">
    <a class="header__logo" href="/">
      <img class="header__logo-img" src="/static/images/logo.png" alt="logo">
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li><a class="header__item" href="/pages/blog/index.html">BLOG</a></li>
        <li><a class="header__item" href="/pages/catalog/index.html">CATALOG</a></li>
        <li><a class="header__item" href="/pages/toys/index.html">TOYS</a></li>
        <li><a class="header__item" href="#">ABOUT US</a></li>
        <li><a class="header__item" href="/pages/animation/index.html">ANIMATION</a></li>
        <li><a class="header__item" href="/pages/svg/index.html">SVG</a></li>
        <li><a class="header__item" href="/pages/grid/index.html">GRID</a></li>
      </ul>
      <ul class="header__links">
        <li><a class="header__search" href="#"><img src="/static/images/search.svg" alt="Search"/></a></li>
        <li><a class="header__contact" href="/pages/contact-us/index.html">CONTACT US</a></li>
      </ul>
    </nav>
  </div>
</header>
