<header class="header-main container-back">
  <div class="header container">
    <a class="header__logo no-active" href="/">
      <img class="header__img-logo" src="/static/images/logo.png" alt="logo">
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li><a class="header__nav-item no-active-1" href="/pages/blog/index.html">BLOG</a></li>
        <li><a class="header__nav-item no-active-2" href="/pages/catalog/index.html">CATALOG</a></li>
        <li><a class="header__nav-item no-active-3" href="/pages/toys/index.html">TOYS</a></li>
        <li><a class="header__nav-item" href="#">ABOUT US</a></li>
      </ul>
      <ul class="header__links">
        <li><a class="header__link-search" href="#"><img src="/static/images/search.png" alt="Search"/></a></li>
        <li><a class="header__link-contact no-active-4" href="/pages/contact-us/index.html">CONTACT US</a></li>
      </ul>
    </nav>
  </div>
</header>
