@import "../../components/consts";

.contact {
  display: flex;
  flex-wrap: wrap;
  padding-top: 43px;
  padding-bottom: 61px;
  font-family: $third-font;
  font-style: normal;
  font-weight: normal;
  font-size: $fs-window-text;
  line-height: 16px;
}
  
.contact-window {
  &__form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;      
    width: 680px;
    min-height: 542px;
    background: #E5EAF8;
    border: none;
  }

  &__user {
    display: flex;
    justify-content: space-between;
  }

  &__user-inf {
    display: flex;
    flex-direction: column;
    width: 290px;
  }

  &__input {
    padding: 17px 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: box-shadow $transition-duration;

    &:hover, &:active {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) inset;
    }
  }

  &__label {
    margin-bottom: 6px;
  }

  &__accept {
    padding: 0;
    margin: 0 0 20px;
  }

  &__accept-checkbox-click {
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;
  }

  &__accept-checkbox-click_active {
    content: url("/../../static/images/accept.png");
  }

  &__accept-checkbox:focus + &__accept-checkbox-click {
    border: 2px solid rgb(141, 113, 90)
  }
    
  &__accept-checkbox:checked + &__accept-checkbox-click::before {
    content: url("/../../static/images/accept.png");
    margin: auto;
    width: 14px;
    height: 14px;
  }

  &__text {
    margin-left: 8px;
  }

  &__button-submit {
    width: 106px;
  }
}

textarea {
  width: 600px;
  height: 150px; 
  resize: none;
} 
  
fieldset {
  border: none;
}
  
.additional-inform {
  padding-left: 120px;
  width: 500px;
  font-family: $primary-font;
  font-size: $fs-primary;
  line-height: 22px;

  &__link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: $fs-title-link;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
    transition: $transition-duration;
      
    &:hover{
      opacity: 0.7;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 20px;
  }
}
