$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$third-font: 'Roboto', sans-serif;
$four-font: 'Crimson Text', serif;
$five-font: 'Lato', sans-serif;

$fs-primary: 16px;
$fs-main-title: 40px;
$fs-title-link: 26px;

$transition-duration: .4s;

$fs_text-header: 14px;
$color_text-header:#1E0606;
$bg-color_header: #FFFFFF;

$fs_text-footer: 14px;
$color_text-footer:#FFFFFF;
$bg-color_footer: #434343;

$fs-breadcrumbs: 20px;

$fs-blog-text: 18px;
$fs-blog-title: 24px;

$fs-catalog-title: 38px;

$fs-window-text: 14px;

$fs-title: 38px;

$fs-slider: 40px;
