
/* Global styles */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700/Montserrat:400,700,900/Open+Sans:400,700/Roboto:400,700,900/Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");

body { 
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  background-color: #F4F4F4;
}

$transition-duration: .4s;

a { 
  text-decoration: none; 
}

li {
  list-style-type: none;
}

html { 
  box-sizing: border-box; 
}

*, 
*::before,
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%;
}

.container-back {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; 
  background-color: #FFFFFF; 
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto; 

  @media (max-width: 1265px) {
    padding: 0 8%;
  }

  @media (max-width: 375px) {
    padding: 0 5%;
  }
}

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 */
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.title {
  padding-bottom: 4px;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;

  @media (max-width: 768px) {
    padding-top: 35px;
  }

  @media (max-width: 535px) {
    font-size: 24px;
    line-height: 29px;
  }

  @media (max-width: 450px) {
    padding-top: 18px;
  }
}

//connecting components
@import "./header/header";
@import "./breadcrumbs/breadcrumbs";
@import "./button/button";
@import "./link-button/link-button";
@import "./link-pages/link-pages";
@import "./footer/footer";
@import "./setting-grid";
