.pages {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 43px; 
  align-items: center;
  
  &__list {
    display: flex;
    width: 234px;
    margin: auto;
    padding-left: 0;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1E0606;
  }

  &__link {
    color: #1E0606;
    transition: $transition-duration;

    &:hover {
      color: #C29974;
    }
  }
  
  &__link_active {
    color: #C29974;
  }
  
  &__prev {
    background-image: url("/../../static/images/next-prev-pages.png");
    background-repeat: no-repeat;
    transform: rotate(-180deg);
    transition: background-image $transition-duration;

    &:hover {
      background-image: url("/../../static/images/next-prev-hov.png");
    }
  
    &:active {
      opacity: 0.5;
    }
  }
  
  &__next {
    background-image: url("/../../static/images/next-prev-pages.png");
    background-repeat: no-repeat;
    transition: background-image $transition-duration;
    
    &:hover {
      background-image: url("/../../static/images/next-prev-hov.png");
    }
  
    &:active {
      opacity: 0.5;
    }
  }
}
