<div class="pages">
  <a href="#" class="pages__prev">
    <img class="pages__img-prev" src="/../../static/images/next-prev-pages.png" alt="vector">
  </a>
  <ul class="pages__list">
    <li>
      <a href="#" class="pages__link pages__link_active">1</a>
    </li>
    <li>
      <a href="#" class="pages__link">2</a>
    </li>
    <li>
      <a href="#" class="pages__link">3</a>
    </li>
    <li>
      <a href="#" class="pages__link">4</a>
    </li>
  </ul>
  <a href="#" class="pages__next">
    <img class="pages__img-next" src="/../../static/images/next-prev-pages.png" alt="vector">
  </a>
</div>
