.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  background: #434343;
}

.footer__nav-connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 98px 110px 13px;
}

.footer__nav-list, 
.footer__social-list,
.footer__success-list  {
  list-style-type: none;
}

.footer__titles,
.footer__link {
  color: #AAAAAA;
}

.footer__nav-item,
.footer__success, 
.footer__copyr {
  color: #FFFFFF;
}

.footer__titles,
.footer__nav,
.footer__nav-list {
  padding: 0;
  margin: 0;
}

.footer__nav {
  width: 389px;
}

.footer__titles::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  margin-top: 23px;
  margin-bottom: 28px;
  background-color: #666666;
  border: none;
}

.footer__nav-item {
  display: inline-block;
  margin-bottom: 16px;
  background-color: #434343;
}

.footer__nav-item:hover {
  opacity: 0.5;
}

.footer__nav-item:active {
  opacity: 0.2;
}

.footer__user-connect {
  display:flex;
  flex-direction: column;
  width: 380px;
}

.footer__input{
  display: flex;
}

.footer__input-email {
  padding: 10px 10px;
  width: 298px;
  color: #FFFFFF;
  background-color: #666666;
  outline: none;
  border: 1px solid transparent; 
}

.footer__input-email:hover {
  border-color: #FFFFFF; 
}

.footer__input-email:focus {
  background-color: #FFFFFF;
  color: #000000;
}

.footer__input-email::placeholder {
  color: #FFFFFF;
}

/* JOIN */
.footer__button-join {
  width: 81px; 
}

.footer__social-list {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 25px 0 0;
  margin: 0;
}

.footer__img:hover {
  opacity: 0.5;
}

.footer__additional::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #666666;
  border: none;
}

.footer__additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px 100px;
}

.footer__web-design,
.footer__copyr,
.footer__success {
  display: flex;
  width: 380px;
  padding-top: 7px;
}

.footer__success-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 245px;
  float: left;
}

.footer__success-list > label {
  margin-left: 5px;
	cursor: pointer;
}

.footer__success-list > input:hover ~ label,
.footer__success-list > input:checked ~ label {
  content:url("/static/images/star-hover.png");
  margin-bottom: 2px;
  cursor: pointer;
}

.footer__success-list > input:checked ~ label {
  content:url("/static/images/star-focus.png");
}

.footer__success-list > input:focus ~ label {
  box-shadow: 0px 0px 0px 1.5px #79ABFE inset;
  border-radius: 2px;
}

.footer__link:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.footer__success-list label:hover ~ p,
.footer__success-list input:checked ~ p {
  color: #C29974;
}

.footer__success-title {
  margin-right: 27px;
}
