<footer class="footer container-back">
  <div class="footer__nav-connect">
    <div class="footer__nav">
      <p class="footer__titles">Navigation</p>
      <ul class="footer__nav-list">
        <li><a class="footer__nav-item" href="#">About Us</a></li>
        <li><a class="footer__nav-item" href="/pages/blog/index.html">Blog</a></li>
        <li><a class="footer__nav-item" href="#">Design Services</a></li>
        <li><a class="footer__nav-item" href="#">Featured On</a></li>
        <li><a class="footer__nav-item" href="#">2018 Holiday Catalog</a></li>
        <li><a class="footer__nav-item" href="#">Shop By Designer</a></li>
      </ul>
    </div>

    <div class="footer__nav">
      <p class="footer__titles">Customer Information</p>
      <ul class="footer__nav-list">
        <li><a class="footer__nav-item" href="/pages/contact-us/index.html">Contact Us</a></li>
        <li><a class="footer__nav-item" href="#">Sale Exclusion</a></li>
        <li><a class="footer__nav-item" href="#">Shipping &#38; Returns</a></li>
        <li><a class="footer__nav-item" href="#">Terms &#38; Conditions</a></li>
        <li><a class="footer__nav-item" href="#"> Privacy Policy</a></li>
        <li><a class="footer__nav-item" href="#">Search</a></li>
      </ul>
    </div>

    <div class="footer__user-connect">
      <p class="footer__titles">Connect</p>
      
      <form class="email-form" action="URL">
        <input class="email-form__input" type="email" name="email" placeholder="Email"><!--
      -->@@include('button/index.html',{
        "text": "JOIN",
        "class": "email-form__button-join",
        "type": "submit",
        "value": "join"
      })
      </form>

      <div class="social">
        <ul class="social__list">
          <li><a class="social__item" href="#">
            <img src="/static/images/facebook.png" alt="Facebook"></a>
          </li>
          <li><a class="social__item" href="#">
            <img src="/static/images/twitter.png" alt="Twitter"></a>
          </li>
          <li><a class="social__item" href="#">
            <img src="/static/images/pinterest.png" alt="Pinterest"></a>
          </li>
          <li><a class="social__item" href="#">
            <img src="/static/images/instagram.png" alt="Instagram"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__additional">
    <div class="success"> 
      <form class="success__list">
        <input class="success__input hidden" id="star-5" type="radio" name="rating" value="5">
        <label class="success__lable" for="star-5" title="Оценка «5»">
          <img class="star" src="/static/images/star.png" alt="star">
        </label>
        <input class="success__input hidden" id="star-4"  type="radio" name="rating" value="4">
        <label class="success__lable" for="star-4" title="Оценка «4»">
          <img class="star" src="/static/images/star.png" alt="star" >
        </label>
        <input class="success__input hidden" id="star-3" type="radio" name="rating" value="3">
        <label class="success__lable" for="star-3" title="Оценка «3»">
          <img class="success__star" src="/static/images/star.png" alt="star">
        </label>
        <input class="success__input hidden" id="star-2" type="radio" name="rating" value="2">
        <label class="success__lable" for="star-2" title="Оценка «2»">
          <img class="star" src="/static/images/star.png" alt="star">
        </label>
        <input class="success__input hidden" id="star-1" type="radio" name="rating" value="1">
        <label class="success__lable" for="star-1" title="Оценка «1»">
          <img class="star" src="/static/images/star.png" alt="star">
        </label>
        <p class="success__title">Company Rating</p>
      </form>
    </div> 

    <div class="copyr">
      <p >Copyright &#169; 2018 Dlk • Design Life Kids</p>
    </div>

    <div class="web-design">
      <a class="web-design__link" href="#">Web Design — Direct Line Development</a>
    </div>
  </div>
</footer>
