.header .no-active-3 {
  opacity: 1; 
  cursor: default;
}

fieldset {
  border: none;
}

%padding-margin {
  padding: 0;
  margin: 0;
}

%font-title {
  font-weight: bold;
}

.selection {
  padding: 42px 110px 25px;
  margin-top: 44px;
  background: rgba(125, 151, 218, 0.2);
  
  &__form {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 22px;
  }
}

.range {
    width: 233px;
    padding: 0;
    margin: 0;

    &__title {
      @extend %font-title;
    }

    &__0-500 {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      width: 207px;
    }

    &__input {
      -webkit-appearance: none;
      border-radius: 1px;
      width: 194px;
      height: 6px;
      margin-top: 25px;
      outline : none;
      border: 1px solid #D4D4D4;
      background-color: #7F7F7F;
    } 

    &__input::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 24px;
      height: 24px;
      border-radius: 24px;
      border: 9px solid #C29974;
      cursor: pointer;
      background: #FFFFFF;
    }
}

.color {
  @extend %padding-margin;
  padding-left: 68px;

  &__title {
    @extend %font-title;
  }

  &__list {
    margin: 0;
    padding: 15px 0 0;
  }

  &__list-etem {
    padding-bottom: 15px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 33px;
    cursor: pointer;
    position: relative;
  }

  &__click {
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;
  }

  &__click_active {
    content: url("/../../static/images/accept.png");
    background-color: #FFFFFF;
    top: 1px;
  }

  &__input:focus + &__click {
    border: 2px solid rgb(141, 113, 90);
  }
  
  &__input:checked + &__click {
    background-color: #FFFFFF;
  }
  
  &__input:checked + &__click::before {
    content: url("/../../static/images/accept.png");
    top: 1px;
  }
  
  &__text {
    margin-left: 10px;
  }
}

.delivery {
  @extend %padding-margin;
  padding-left: 94px;

  &__title {
    @extend %font-title;
  }

  &__list {
    margin: 0;
    padding: 15px 0 0;
  }

  &__list-etem {
    padding-bottom: 15px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 33px;
    cursor: pointer;
    position: relative;
  }

  &__click {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    border: 3px solid #C29974;
    border-radius: 100%;
  }

  &__input:focus + &__click {
    border: 3px solid rgb(141, 113, 90)
  }

  &__input:checked + &__click::before,
  &__click_active::before {
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color:  #C29974;
  border-radius: 100%;
}

  &__text {
    margin-left: 10px;
  }
}

.amount {
  @extend %padding-margin;
  min-width: 250px;
  margin-left: 39px;

  &__title {
    font-weight: bold;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 15px 0 0;
  }

  &__text {
    text-align: center;
    padding-top: 7px;
  }

  &__label {
    display: flex;
  }

  &__input + &__text {
    width: 80px;
    height: 35px;
    background-color: #FFFFFF;
    cursor: pointer;
  }

  &__input + &__text_active,
  &__input:active + &__text, 
  &__input:focus + &__text {
    background-color: #F3D0DB;
  }

  &__input:hover + &__text {
    background-color: #EDDEEB;
  }
  
  &__input:focus + &__text {
    box-shadow: 0px 0px 0px 1.5px #79ABFE inset;
    border-radius: 2px;
  }

}

.button-submit {
  height: 40px;
  width: 95px;
  margin-top: 35px;
  margin-left: 50px;
}

.goods {
  margin-top: 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    padding-top: 62px;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    width: 380px;
    padding-bottom: 45px;
    align-items: center;
  }

  &__link {
    text-align: center;
    position: relative;
  }

  &__link-title {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
  }

  &__link:hover > &__hover::before {
    content: "LEAN MORE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 207px;
    height: 207px;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    background-color: #E5EAF8;;
    opacity: 0.9;
  }

  &__link:active > &__hover::before {
    opacity: 0.67;
  }
  
  &__price {
    padding-top: 17px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
}
